@import '../../styles/colors';

.projects-container {
  color: white;

  .badge-dark {
    color: darken($blue, 20);
    background-color: $moonraker;
  }

  .badge-light {
    background-color: $moonraker;
  }
}

.fill {
  display: flex;
  height: 100%;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.project-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.project-name {
  color: lighten($blue, 40);
  text-shadow: 4px 1px 1px rgba(0, 0, 0, 0.15);
}

.bg-dark {
  background-color: $darkblue !important;
}

.project {
  //margin: 2px;
  padding: 10px 10px 10px 10px;

  h4, h5 {
    color: lighten($blue, 40);
  }
}

.subtitle {
  color: $moonraker;
}

.project-type {
  padding-top: 5px;
  font-size: 12px;
}

#projects-title {
  font-family: 'Titillium Web', sans-serif;
}

.project-subtitle {
  color: lighten($blue, 40);
}

.card {
  color: $moonraker;
  background-color: #172a45 !important;

  h4 {
    text-shadow: 4px 1px 1px rgba(0, 0, 0, 0.15);
  }

  h6 {
    padding-top: 9px;
  }

}

.img-div {
  display: flex;
  height: 200px;
}

img {
  object-fit: cover;
  object-position: 50% 100%;
}

.regular-card {
  display: flex !important;
  position: relative;
  flex-direction: column;
  height: 100%;

  .card {
    margin: 20px;
  }
}

.regular-card-footer {
  font-size: 25px;
  display: flex;
  width: 96%;
  justify-content: space-between;
  align-items: stretch;
}

.regular-card-langs {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  display: flex;
  margin: auto 0 15px 20px;
}

.lang {
  color: #97a0ba;
  padding-right: 10px;
}