@import 'src/styles/global';

#courses {
  background-color: $darkblue;
  color: $moonraker;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
}

#courses-header {
  padding: 40px 0 0 0;
}

#courses-header a {
  color: $moonraker;
}

#courses-table a {
  color: $lightgrey;
}

a:hover {
  color: $moonraker;
}


#courses-table {
  margin: 20px 0 0 0;
  color: $lightgrey;
}

tr:hover {
  background-color: lighten($darkblue, 5);
}